// Custom styles.

body{
        background-image: url("http://codepen.vincebrown.me/assets/images/snow-mountains.jpg");
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
     }
